*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.nav-title {
    font-weight: 600;
    font-size: 40px;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    border: 0;
    padding: 18px 35px;
    color: aqua;
    font-weight: 700;
    font-size: 20px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 100px;
}
nav ul {
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-left: 50px;
}
.banner{
    margin: 0 100px;
    display: flex;
    align-items: center;
}
.banner-title{
    font-weight: 700;
    font-size: 85px;
}
.banner-sub-title{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}
.banner-desco{
    color: red;
    font-size: 18px;
    margin-bottom: 30px;
}
.header{
    background: seashell;
    background-image: url('../images/header_bg.png'), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about{
    text-align: center;
    margin-top: 130px;
    border-radius: 10px;
    background-color: blanchedalmond;
    padding: 130px 150px;
}
.section-title{
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
}
.section-description{
    color: darkcyan;
    font-size: 18px;
    margin-bottom: 30px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about .info-title{
    font-size: 20px;
    color: #757575;
}
.info-description{
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}
.what-i-do{
    margin-top: 130px;
}